<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nouvel an Ebull</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <h1>Le grand livre des points</h1>
    <div class="card-deck">
    {% for bg_class, house in houses %}

    <div class="card text-white {{bg_class}}">
        <div class="card-body">
            <h4 class="card-title">#<span id="{{house}}-rank">1</span> {{ house|capitalize }} <small>(<span id="{{house}}-points">0</span> pts)</small></h4>
            <div class="form-check">
                <label>
                    <input type="checkbox" id="{{ house }}-remove" onclick="toggleNegative('{{ house }}')">
                    Enlever des points
                </label>
            </div>
            {% for value in values %}
            <a href="#" onclick="addPoints({{value}}, '{{house}}')" data-value="{{value}}"
               class="btn btn-light btn-sm {{house}}-btn {% if value is gt(0) %}pos-btn{% else %}neg-btn d-none{%endif%}">{{value}}</a>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script src="/static/app.js"></script>
</body>
</html>